<article class="sidebar">
  <h1 class="sidebar-title">Pitch your ideas</h1>
  <p class="sidebar-body">While you attend the conference, head over to our gallery where you can have a talk with our experts.</p>
</article>
