<div class="maincontent">
  <article class="article">
    <h1 class="article-title">What is this site all about ? </h1>
    <p>A website for budding programmers to discuss new ideas for apps </p>
  </article>

  <article class="article">
    <h1 class="article-title">Got a new idea?</h1>
    <p>Pitch your ideas to experts. Also get chance to talk with recruiters ! Who know you may get a new job here</p>
  </article>

  <article class="article">
    <h1 class="article-title">Who should come?</h1>
    <ul>
      <li>Anyone interested in coding</li>
      <li>Those who want to launch their career in software industry</li>
      <li>Already software professionals who may guide aspiring progammers and solve their doubt</li>
    </ul>
  </article>
</div>
