<article class="sidebar">
  <h1 class="sidebar-title">Who should come?</h1>
  <ul class="sidebar-body">
    <li>Anyone interested in coding</li>
    <li>Those who want to launch their career in software industry</li>
    <li>Already software professionals who may guide aspiring progammers and solve their doubt</li>
  </ul>
</article>
